:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
 /* display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
li{list-style: none;}
nav {
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;  
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.modo{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-family:'Roboto', sans-serif;
  font-size: 12px;
  width: 98%;

}
.text{
  color: #000;
  padding-right: 2%;
  transition: all 1s;
}
.text.dark{color: #ffffff;}
.fondogris{
  background-color: #ccc;
  width: 55px;
  height: 20px;
  border-radius: 50px;
}
.boton{
  background-color:#ffc501 ;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-image: url(../assets/img/sol.png);
  background-position: center;
  background-size: 13px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 1s;

}
.azul{
  background-color: cornflowerblue;
  background-image: url(../assets/img/luna.png);
  transition: all 1s;

}
.mover{
  animation: desplazamiento 1s ;
  transform: translateX(35px);
  transition: all 1s;

}

@keyframes desplazamiento{
  0%{transform: translateX(0);}
  100%{transform: translateX(35px);}

}
/*

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.light {
  background-color: white;
  color: black;
  transition: all 1s;

}

.dark {
  background-color: #242424;
  color: #fff;
  transition: all 1s;

}

.content {
  width: 300px;
}

.light button{
  background-color: #242424;
  color: #ffffff;
}

.img1{
  width: 55%;
  margin: 3% auto 0;
}
.about{
  width: 90%;
  padding: 5%;
  background-color: #646cff;
}

.listado-trabajos{
    width: 90vw;
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center ;
    margin-bottom: 5%;
}
.listado-trabajos li {
  float: left;
  width: 0px;
  margin-right: 0px;
  height: 0px;
  overflow: hidden;
  background-size: cover;
  background-position: center top;
  border-radius: 15px;
}
.listado-trabajos li.visible {
  width: 29vw;
  height: 19vw;
}
.datacontainer{
  opacity: 1; 
   width:100%;
   height:100%; 
}
.datacontainer:hover{
   background:#101820;
   opacity: 0.8; 
   width:100%;
   height:100%;  
   z-index: 10; 
}
.listado-trabajos li .datacontainer h3 {
  font-weight: bold;
  font-size: 2.3vw;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-top: 0;
  position: relative;
  top: 15vh;
  transition: 0.8s;
  color: #fff;
  text-shadow: 1px 1px 2px #625b5b;
  margin-bottom: 10px;

}
.description{opacity: 0; display: none;}
.ver{
  position: relative;
  top: 15vh;
}
.listado-trabajos li .datacontainer:hover h3 {
  position: relative;
  top: 5vh;
}
.listado-trabajos li .datacontainer:hover .ver {
  position: relative;
  top: 20vh;
}
.listado-trabajos li .datacontainer:hover .description {
  opacity: 1;
  display: block;
  transition: opacity 0.8s;
  color:#fff ;
  position: relative;
  top: 10vh;
}


.proyecto1{
  background-image: linear-gradient(to bottom, rgba(16, 24, 32, 0) 3%, #101820 98%), url(../assets/img/p1.png);
}