:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
 
}

h1 {
  font-size: 3vw;
  line-height: 1.1;
}
h2{font-size: 2.3vw;}

li{list-style: none;}
nav {
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;  
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.modo{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-family:'Roboto', sans-serif;
  font-size: 12px;
  width: 98%;

}
.text{
  color: #000;
  padding-right: 2%;
  transition: all 1s;
}
.text.dark{color: #ffffff;}
.fondogris{
  background-color: #ccc;
  width: 55px;
  height: 20px;
  border-radius: 50px;
}
.boton{
  background-color:#ffc501 ;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-image: url(../assets/img/sol.png);
  background-position: center;
  background-size: 13px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 1s;

}
.azul{
  background-color: cornflowerblue;
  background-image: url(../assets/img/luna.png);
  transition: all 1s;

}
.mover{
  animation: desplazamiento 1s ;
  transform: translateX(35px);
  transition: all 1s;

}

@keyframes desplazamiento{
  0%{transform: translateX(0);}
  100%{transform: translateX(35px);}

}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.light {
  background-color: white;
  color: black;
  transition: all 1s;

}

.dark {
  background-color: #242424;
  color: #fff;
  transition: all 1s;

}

.content {
  width: 300px;
}

.light button{
  background-color: #242424;
  color: #ffffff;
}

.img1{
  width: 55%;
  margin: 3% auto 0;
}
.about{
  width: 90%;
  padding: 5%;
  background-color: #646cff;
  color: #fff;
}
.seccion{
  width: 90%;
  margin: auto;
}
.listado-trabajos{
    width: 90vw;
    margin: 3% 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center ;
}
.listado-trabajos li {
  float: left;
  width: 29vw;
  margin-right: 0px;
  height: 19vw;
  overflow: hidden;
  background-size: cover;
  background-position: center top;
  border-radius: 15px;
  box-shadow: 2px 2px 4px #ccc;
}

.datacontainer{
  opacity: 1; 
   width:100%;
   height:100%; 
}
.datacontainer:hover{
   background:#101820;
   opacity: 0.8; 
   width:100%;
   height:100%;  
   z-index: 10; 
}
.listado-trabajos li .datacontainer h3 {
  font-weight: bold;
  font-size: 2.3vw;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-top: 0;
  position: relative;
  top: 36%;
  transition: 0.8s;
  color: #fff;
  text-shadow: 1px 1px 2px #625b5b;
  margin-bottom: 10px;

}
.description{opacity: 0; display: none; width: 85%; margin: auto; height: 27%;}
.ver{
  position: relative;
  top: 40%;
}
.listado-trabajos li .datacontainer:hover h3 {
  position: relative;
  top: 15%;
}
.datacontainer:hover .ver {
  position: relative;
  top:25%;
}
.listado-trabajos li .datacontainer:hover .description {
  opacity: 1;
  display: block;
  transition: opacity 0.8s;
  color:#fff ;
  position: relative;
  top: 22%;
  font-size: 1vw;
}


.proyecto1{
  background-image: linear-gradient(to bottom, rgba(16, 24, 32, 0) 3%, #101820 98%), url(../assets/img/p1.2.png);
}
.proyecto2{
  background-image: linear-gradient(to bottom, rgba(16, 24, 32, 0) 3%, #101820 98%), url(../assets/img/tienda.png);
}
.proyecto3{
  background-image: linear-gradient(to bottom, rgba(16, 24, 32, 0) 3%, #101820 98%), url(../assets/img/appbook.png);
}

.enlaces{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}
.btn{
    border: 2px solid #646cff;
    border-radius: 100%;
    margin: 0 .2rem;
}
.ln{
 background-image: url('../assets/img/linkedin.png');
 background-size: 60%;
 background-repeat: no-repeat;
 background-position: center;
 height: 47px;
 width: 47px;
}

.mail{
  background-image: url('../assets/img/sobre.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  height: 47px;
  width: 47px;
 }
 
.btn:hover{
  background-color: #535bf2;
}
.btn:hover .ln{
  background-image: url('../assets/img/linkedinb.png');
}
.btn:hover .mail{
  background-image: url('../assets/img/sobreb.png');
}
footer{
  background-color: #535bf2;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
}
footer img{width: 30px; margin-left: 15px;}

.proyectos{
  width:60%;
}
.proyectos .descripcion{
  width: 80%;
  margin: 3% auto;
  text-align: justify;
}

.volver{margin:3% 0; text-align: left; width: 60%;}

.proyectos .descripcion li{
  list-style: circle;
}
/*  galeria */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  padding: 16px;
}

.image-item {
  cursor: pointer;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.image-gallery button{
  opacity: 0.5;
}

@media screen and (max-width:780px){
  .listado-trabajos{
    flex-wrap: wrap;
  }
  .listado-trabajos li{
    width: 90vw;
    height: 50vw;
    margin-bottom: 5vw;
  }
  .listado-trabajos li .datacontainer h3 {
    font-size: 20px;
  }
  .listado-trabajos li .datacontainer:hover .description{
    font-size: 10px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  .enlaces{margin-bottom: 10%;}
  footer{ font-size: 12px;}
  .proyectos{width: 96%;}
}
